body {
    background-image: url(../imgs/Dreamers\ Welcome.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
p {
    font-size: 16pt;
    margin: 0;
}

button {
    font-family: "neue-haas-grotesk-display",'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
    font-size: 18pt;
    color: #222222;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

button:hover {
    
}

.header{
    position: fixed;
    height: 100px;
    width: 100vw;
}

.page {
    position: relative;
    width: 100vw;
    top: 100px;
    overflow-y: scroll;
    height: calc(100vh - 100px);
}

.page::-webkit-scrollbar {
    display: none;
  }

