

.frontPage {
    display: grid;
    grid-template-areas: 
    ". . ."
    "greet greet list";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: calc(100vh - 40px);
    padding-bottom: 60px;
}

.listDiv {
    grid-area: list;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: end;
    margin: 0;
    height: 5.5cm;
    margin-bottom: 30px;

}

.greetDiv {
    grid-area: greet;
    display: flex;
    align-items: center;
    margin: 0;
    height: fit-content;
    align-self: end;
    margin-right: 40px;

}

.greeting {
    font-weight: 600;
    font-style: normal;
    font-size: 72pt;
    margin: 0;
}

@media(max-width: 1156px) {
    .greeting {
        font-size: 8vw;
    }
}
@media(max-width: 768px) {
    .frontPage {
        display: grid;
        grid-template-areas: 
        "greet"
        "list";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .greetDiv {
        justify-self: start;
        align-self: flex-end;
    
    }
    .listDiv {
        justify-self: start;
        align-self: center;
    }
    .greeting {
        font-size: 3em;
    }
}
