.frontPage {
    height: 100vh;
    width: calc(100vw - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting {
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#helloText {
    font-size: 4vw;
    width: fit-content;
    font-weight: 600;
    letter-spacing:-1.5px;
    padding: 0;
}

#studentText {
    text-align: center;
    width: fit-content;
    font-size: 1.5vw;
    letter-spacing:-0.5px;
    padding: 0;
}

@media (max-width: 768px) {
    #helloText {
        font-size: 8vw;
    }
    #studentText {
        font-size: 4vw;
    }
  }