.headerDiv {
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "line line line"
    "text1 . text2";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content auto;

}

.headerDiv p {
    font-size: 12pt;
}

.line {
    grid-area: line;
    background: black;
    height: 2px;
    margin-bottom: 10px;
}

.headerText1 {
    grid-area: text1;
    height: fit-content;
}

.headerText2 {
    grid-area: text2;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.sayhi {
    font-size: 12pt;
    padding: 0;
}

.city {
    padding: 0;
}
