@import url("https://use.typekit.net/mxr0oaz.css");

body {
  font-family: "neue-haas-grotesk-display",'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
  color: #222222;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
